@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-prev {
    color: #C64940;

    border: 1px solid #C64940;
    border-radius: 50%;
    padding: 1.7rem;
}

.swiper-button-prev::after {
    color: #C64940;
    margin-right: 0.5rem;
}

.swiper-button-next {
    color: #C64940;

    border: 1px solid #C64940;
    border-radius: 50%;
    padding: 1.7rem;
}

.swiper-button-next::after {
    color: #C64940;
    margin-left: 0.5rem;
}

/*Fin  Swiper Cambios */